html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

:root {
    --color-base: #0ce0b6;
    --color-black: black;
    --color-light: azure;
    --spacing: 10px;
    --blur: 10px;
    --main-width: 100vw;
    --main-height: 100vh;
    --padding: 3rem;
    --align-center: center;
    --gap: 3rem;
}

.main {
    width: var(--main-width);
    height: var(--main-height);
    padding: var(--padding);
    background-color: var(--color-black);
    align-items: var(--align-center);
    gap: var(--gap);
}