html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

:root {
    --color-base: #0ce0b6;
    --color-black: black;
    --color-light: azure;
    --spacing: 10px;
    --blur: 10px;
    --main-width: 100vw;
    --main-height: 100vh;
    --padding: 3rem;
    --align-center: center;
    --gap: 3rem;
    --title-fs: 3rem;
    --title-fw: 900;
    --font-family: Bradley Hand, cursive;
    --label-fs: 2.5rem;
    --label-fw: 700;
    --border-radius: 1rem;
}

.main {
    max-width: var(--main-width);
    min-height: var(--main-height);
    padding: var(--padding);
    background-color: var(--color-black);
    align-items: var(--align-center);
    gap: var(--gap);
    font-family: var(--font-family);
}

.title {
    color: transparent;
    background: linear-gradient(90deg, rgba(71,223,232,1) 0%, rgba(114,123,242,1) 45%, rgba(166,0,255,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: var(--color-base);
    font-size: var(--title-fs);
    font-weight: var(--title-fw);
}

.controls, .field {
    gap: var(--gap);
    align-items: var(--align-center);
}

label {
    color: var(--color-light);
    font-size: var(--label-fs);
    font-weight: var(--label-fw);
}

input {
    width: 13rem;
    height: 4rem;
}

.img {
    padding: var(--spacing);
    background: var(--color-base);
    filter: blur(var(--blur));
    border-radius: var(--border-radius);
}