html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    margin: 0;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,121,75,1) 35%, rgba(0,212,255,1) 100%);
    display: flex;
    flex: 1;
    width: 100ww;
    min-height: 100vh;
    align-items: center;
    background-size: 400%;
    animation: 4s ease 0s infinite alternate backgroundAnimation;
}

@keyframes backgroundAnimation {
    0% {
        background-position: 80% 0%;
    }
    50% {
        background-position: 20% 100%;
    }
    100% {
        background-position: 80% 0%;
    }
}

.clock {
    width: 40rem;
    height: 40rem;
    padding: 2rem;
    border-radius: 50%;
    border: 4px solid transparent;
    background: rgb(2,0,36);
    background: radial-gradient(circle, #253481 0%, rgba(2,0,36,1) 100%) padding-box, linear-gradient(to right, #f93ffb 0%, rgba(2,0,36,1) 100%) border-box;
    margin: 0 auto;
    position: relative;
}

.clock-dial {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}
.hand {
    width: 50%;
    height: 6px;
    border-radius: 1rem;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(121,9,66,1) 0%, rgba(0,212,255,1) 100%);
    position: absolute;
    top: 50%;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;
    transition-timing-function: cubic-bezier(0.1, 2.7, 0.58, 1);
}