@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=New+Tegomin&display=swap');

html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

:root {
    --color-black: rgb(15, 15, 15);
    --color-black-alpha: rgba(53, 50, 50, 0.8);
    --color-light: rgb(255, 255, 255);
    --color-gold: rgb(229, 255, 0);
    --color-blue: rgb(6, 238, 255);
    --main-width: 100vw;
    --main-height: 100vh;
    --center: center;
    --padding: 4rem;
    --gap: 3rem;
    --border-radius: 1.5rem;
    --title-ff: 'Climate Crisis', cursive;
    --title-fs: 4rem;
    --main-ff: 'New Tegomin', serif;
    --weight: 400;
    --spacing: 2rem;
    --form-width: 40rem;
}

.main {
    align-items: var(--center);
    gap: var(--gap);
    background-color: var(--color-black);
    max-width: var(--main-width);
    width: var(--main-width);
    min-height: var(--main-height);
    padding: var(--padding);
}


.title {
    font-family: var(--title-ff);
    font-weight: var(--weight);
    color: var(--color-blue);
    font-size: var(--title-fs);
    letter-spacing: var(--spacing);
}

.search-form {
    gap: 0;
    width: 40rem;
}

.search {
    padding: calc(var(--padding) / 4) calc(var(--padding) / 2);
    border: 2px solid var(--color-gold);
    background-color: var(--color-black-alpha);
    color: var(--color-blue);
    font-family: var(--main-ff);
    font-weight: var(--weight);
    font-size: 2rem;
    text-align: var(--center);
    text-transform: uppercase;
    animation: .4s infinite 0s alternate lighter;
    box-shadow: 0 0 5px var(--color-blue), inset 0 0 5px var(--color-light);
}

@keyframes lighter {
    from {
        border: 2px solid var(--color-gold);
    }
    to {
        border: 2px solid var(--color-blue);
    }
}