@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=New+Tegomin&display=swap');

html {
    font-size: 10px;
}

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

:root {
    --color-black: rgb(15, 15, 15);
    --color-light: rgb(255, 255, 255);
    --color-gold: rgb(229, 255, 0);
    --color-blue: rgb(6, 238, 255);
    --main-width: 100vw;
    --main-height: 100vh;
    --center: center;
    --padding: 4rem;
    --gap: 3rem;
    --border-radius: 1.5rem;
}

.main {
    align-items: var(--center);
    gap: var(--gap);
    background-color: var(--color-black);
    max-width: var(--main-width);
    width: var(--main-width);
    min-height: var(--main-height);
    padding: var(--padding);
}
